body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #fff;
    overflow: hidden;
    background-color: #000;
}

.main {
    background-color: black;
    display: flex;
    height: 100vh;
    padding: 0.4rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
    overflow: auto;
}

.sidebar-foot{
    height: 100px;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.main-content h2:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    height: fit-content;
    background-color: #121212;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin: 1rem;
}

.badge-dark {
    background-color: #34343495;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    color: #fff;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    margin-left: 5px;
}

.artists{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}

.artists i{
    font-size: 1.3rem;
    opacity: 0.7;
}

.artists i:hover{
    opacity: 1;
}

.artist-lib{
    margin-top: 1rem;
    display: flex;
    padding: 0.2rem;
    cursor: pointer;
}

.artist-lib:hover{
    background-color: #2929294b;
}

.artist-img-icon{
    height: 45px;
    width: 45px;
    border-radius: 100px;
    margin-right: 1rem;
}

.artist-text{
    line-height: 5px;
}

.artist-title{
    font-weight: 600;
    font-size: 0.8rem;
}

.artist-info{
    font-size: 0.8rem;
    opacity: 0.7;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.1rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin: 1rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
    height: fit-content;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.85;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    background-color: #000;
    color: #fff;
}

.nav-bar{
    position: sticky;
    top: 0;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    z-index: 10;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    background-color: #1ce164;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    font-size: 0.9rem;
    font-weight: 800;
    color: #000;
    border: 3px solid #373737;
}

.bell {
    background-color: #363636ce;
    padding: 8px 10px 8px 10px;
    border-radius: 50%;
    opacity: 0.8;
}

.bell:hover {
    opacity: 1;
}

.sticky-nav-icons img {
    margin-left: 0.75rem;
    background-color: #232323;
    padding: 0.25rem;
    border-radius: 100%;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-item {
    margin-right: 1rem;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head a {
    font-weight: 600;
    font-size: 0.8rem;
    opacity: 0.8;
}

.head a:hover {
    text-decoration: underline;
}

.card {
    /* background-color: #232323; */
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card:hover{
    background-color: #232323;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-singer {
    width: 150px;
    height: 200px;
    border-radius: 0.5px;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 0rem;
    cursor: pointer;
}

.card-singer:hover {
    background-color: #2323237a;
}

.img-round {
    height: 65%;
    width: 90%;
    border-radius: 50%;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.75;
}

.foot {
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    display: flex;
}

.foot .list {
    margin: 0;
    padding: 0;
}

.foot h4 {
    margin-bottom: 10px;
    color: white;
}

.foot a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: 600;
    opacity: 0.7;
}

.foot a:hover{
    opacity: 1;
}

.foot a:hover {
    text-decoration: underline;
}

.list5 i{
    font-size: 1rem;
    background-color: #3b3b3b;
    padding: 8px 10px 8px 10px;
    border-radius: 100px;
    border-radius: 50%;
    margin-right: 1rem;
}

.list5 i:hover{
    background-color: #5b5b5b;
}

.footer {
    height: 300px;
    align-items: center;
    justify-content: center;
    color: red;
    margin-top: 2.5rem;
}

.line {
    margin-left: 1rem;
    width: 95%;
    border-top: 2px solid white;
    opacity: 0.4;
}

.footer-content {
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
}

.copy-right {
    color: white;
    font-size: 0.88rem;
    opacity: 0.7;
    font-weight: 500;
}

.footer-content-link a {
    margin-left: 1.5rem;
    font-size: 0.88rem;
    opacity: 0.7;
}

.footer-content-link a:hover {
    opacity: 1;
}

.music-player {
    display: flex;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    display: flex;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.27rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 100px;
    margin-top: -6px;
}

.album-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.album-img-icon {
    height: 3.5rem;
    width: 2.7rem;
    border-radius: 5px;
}

.album-text {
    margin-left: 0.75rem;
}

.album-title {
    font-weight: 600;
    line-height: 0.1rem;
}

.album-info {
    font-size: 0.7rem;
    opacity: 0.7;
    margin-top: 10px;
}

.plus-icon {
    font-size: 1rem;
    opacity: 0.7;
    margin-left: 1.7rem;
    margin-top: 1rem;
}

.plus-icon:hover {
    opacity: 1;
}

.control-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.control-content i {
    margin-left: 0.5rem;
    font-size: 1.1rem;
    opacity: 0.7;
}

.control-content i:hover {
    opacity: 1;
}

.control-progress-bar {
    width: 30%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.control-progress-bar::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 100px;
    height: 0.2rem;
}

.control-progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 0.9rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -5px;
}

/* scrollbar*/

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #181818;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(65, 65, 65, 0.91);
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(109, 109, 109, 0.592);
}

.main-content::-webkit-scrollbar {
    width: 10px;
}

.main-content::-webkit-scrollbar-track {
    background-color: #181818;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: rgba(65, 65, 65, 0.91);
}

.main-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(109, 109, 109, 0.592);
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }

    .sticky-nav2{
        top: 0;
    }

    .main {
        width: 100%;
        margin: 0rem;
        padding: 0rem;
    }

    .main-content{
        padding: 0px 10px 10px 15px;
    }

    .badge{
        background-color: #12ff65;
        font-weight: 500;
    }

    h2{
        font-size: 1.2rem;
    }

    .bottomNav{
        background-color:#0d0d0d8b;
        bottom: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 98%;
        height: 50px;
        padding: 0.1rem 0rem;
    }
 
    .nav-option {
        text-align: center;
        line-height: 1rem;
        opacity: 0.7;
        padding: 10px 10px;
    }

    .nav-option div img{
        opacity: 1;
    }

    .nav-option div img:hover{
        opacity: 0.8;
    }
    
    .nav-option i {
        font-size: 1.1rem;
    }
    
    .nav-option div a {
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.65rem;
        
    }
    /* } */

    .card-container{
        overflow: auto;
    }

    .card-singer{
        height: 170px;
        text-align: center;
        font-size: 12px;
        padding: 0.3;
    }

    .img-round{
        width: 112px;
        height: 115px;
    }

    .card{
        width: fit-content;
        padding: 0.2rem;
        margin: 0.5rem;
    }

    .card-img{
        width: 130px;
        height: 130px;
    }

    .list{
        margin-top: 10px;
    }

    .foot {
        display: none;
    }

    .footer{
        display: none;
    }

    .music-player{
        display: none;
    }

    .responSmall{
        display: none;
    }

    .card-container::-webkit-scrollbar{
        display: none;
    }
}

@media (min-width: 1000px) {
    .responHide{
        display: none;
    }
}
